body {
    margin: 0;
}

header {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

img#logo {
    width: 8rem;
    padding: 0.5rem;
}

ul.menu-principal {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    color: black;
    font-weight: 500;
}

.main {
    background-color: #b4c2dd;
    color: white;
}

section.obras {
    padding: 2rem 0;
}

.banner {
    background-image: url( '../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 29vw;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner-title {
    margin: 4rem;
    text-align: right;
    text-transform: uppercase;
    font-size: 3rem;
    width: 25%;
}

ul.sections {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    align-items: center;
    gap: 4rem;
}

li.section-item {
    width: 5rem;
    height: 5rem;
    background: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

table {
    width: 50%;
    margin: 0 auto;
    padding: 0 0 2rem;
}

h2.premios-title {
    text-align: center;
    margin: 2rem 0 3rem 0;
} 

.date {
    border: 2px solid blue;
    background: orange;
    padding: 0.7rem 1rem;
    font-weight: bold;
}

section.Premios {
    color: black;
}

tr {
    height: 40px;
}

td {
    padding-left: 2rem;
}

a.text-anchor {
    font-size: 0.65rem;
    padding: 1.2rem 0.8rem;
    margin: 0;
    text-transform: uppercase;
}
.primer-premio {
    height: 6rem;
}

footer {
    background-color: pink;
}

p.copyright {
    margin: 0;
    padding: 16px;
    text-align: center;
}